*Preprocesamiento*

In [19]:
import warnings ## funciones para imprimir y registrar advertencias.
warnings.filterwarnings("ignore") #suprimir cualquier advertencia que pueda ser generada por el código.

In [20]:
###Librerias
import sqlite3 as sql 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [21]:
###Lectura de datos 
df1 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/employee_survey_data.csv", sep=",")
df2 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/general_data.csv", sep=",")
df3 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/manager_survey.csv", sep=",")
df4 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/retirement_info.csv", sep=",")

In [28]:
df1.head(3)

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,DateSurvey
0,1,3.0,4.0,2.0,2015-12-31
1,2,3.0,2.0,4.0,2015-12-31
2,3,2.0,2.0,1.0,2015-12-31

In [26]:
###Eliminacion de columna que no aportaria en el modelo
df1.drop(["Unnamed: 0"], axis=1, inplace=True)

In [30]:
## Verificación de valores nulos
print(df1.isnull().sum())

EmployeeID                  0
EnvironmentSatisfaction    50
JobSatisfaction            40
WorkLifeBalance            76
DateSurvey                  0
dtype: int64

In [31]:
##tratamiento de nulos
print(df1['EnvironmentSatisfaction'].value_counts())
print(df1['EnvironmentSatisfaction'].mean())
print(df1['EnvironmentSatisfaction'].median())
print('-------------------------------')

print(df1['JobSatisfaction'].value_counts())
print(df1['JobSatisfaction'].mean())
print(df1['JobSatisfaction'].median())
print('-------------------------------')

print(df1['WorkLifeBalance'].value_counts())
print(df1['WorkLifeBalance'].mean())
print(df1['WorkLifeBalance'].median())
print('-------------------------------')

3.0    2700
4.0    2668
2.0    1712
1.0    1690
Name: EnvironmentSatisfaction, dtype: int64
2.7236031927023947
3.0
-------------------------------
4.0    2734
3.0    2646
1.0    1720
2.0    1680
Name: JobSatisfaction, dtype: int64
2.728246013667426
3.0
-------------------------------
3.0    5320
2.0    2038
4.0     908
1.0     478
Name: WorkLifeBalance, dtype: int64
2.7614364135407135
3.0
-------------------------------

In [32]:
##al ser el valor que mas aparece, la media sea 3 y la moda de un valor muy cercano a 3; los nulos de esta variable seran reemplazado por 3
df1['EnvironmentSatisfaction'] = df1['EnvironmentSatisfaction'].fillna(3.0)
df1['JobSatisfaction'] = df1['JobSatisfaction'].fillna(3.0)
df1['WorkLifeBalance'] = df1['WorkLifeBalance'].fillna(3.0)

In [33]:
df2.head(3)

,Unnamed: 0,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,InfoDate
0,0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,Y,11,8,0,1.0,6,1,0,0,2015-12-31
1,1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,Y,23,8,1,6.0,3,5,1,4,2015-12-31
2,2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,Y,15,8,3,5.0,2,5,0,3,2015-12-31

In [35]:
###Eliminacion de columna que no aportaria en el modelo
df2.drop(["Unnamed: 0"], axis=1, inplace=True)

In [38]:
## Verificación de valores nulos
print(df2.isnull().sum())

Age                         0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         38
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears          18
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
InfoDate                    0
dtype: int64