In [1]:
import warnings ## funciones para imprimir y registrar advertencias.
warnings.filterwarnings("ignore") #suprimir cualquier advertencia que pueda ser generada por el código.

In [2]:
###Librerias

import pandas as pd ### para manejo de datos
import a_funciones as funciones  ###archivo de funciones propias

%matplotlib inline

In [3]:
###Lectura de datos 

base = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/base2015.csv", sep=",")

## **Preprocesamiento para la base final**

In [4]:
### Visualizacion de datos 

base.head(3)
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   EnvironmentSatisfaction  4410 non-null   float64
 2   JobSatisfaction          4410 non-null   float64
 3   WorkLifeBalance          4410 non-null   float64
 4   año_x                    4410 non-null   int64
 5   Age                      4410 non-null   int64
 6   BusinessTravel           4410 non-null   object
 7   Department               4410 non-null   object
 8   DistanceFromHome         4410 non-null   int64
 9   Education                4410 non-null   int64
 10  EducationField           4410 non-null   object
 11  Gender                   4410 non-null   object
 12  JobLevel                 4410 non-null   int64
 13  JobRole                  4410 non-null   object
 14  MaritalStatus            4410 non-null   object
 15  MonthlyIncome            4410 non-null   int64
 16  NumCompaniesWorked       4410 non-null   float64
 17  PercentSalaryHike        4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4410 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
 24  año_y                    4410 non-null   int64
 25  JobInvolvement           4410 non-null   int64
 26  PerformanceRating        4410 non-null   int64
 27  año_x.1                  4410 non-null   int64
 28  Unnamed: 0               650 non-null    float64
 29  Attrition                650 non-null    object
 30  retirementType           650 non-null    object
 31  resignationReason        650 non-null    object
 32  año_y.1                  650 non-null    float64
dtypes: float64(7), int64(17), object(9)
memory usage: 1.1+ MB

In [5]:
### Variables con una categoria 

"""Encontrar las variables con una sóla categoria, para luego eliminarlas"""

nunique_values = base.nunique()
single_value_columns = nunique_values[nunique_values == 1].index
print("Variables con un único valor: ", single_value_columns)

Variables con un único valor:  Index(['año_x', 'año_y', 'año_x.1', 'Attrition', 'año_y.1'], dtype='object')

In [6]:
### Eliminacion de variables

"""Se quitan de las variables a eliminar "Attrition"; desgaste, ya que es nuestra variable objetivo, 
tambien se elimina el ID del empleado porque no aporta nada al objetivo del modelo"""

columns_to_drop = ['año_x', 'año_y', 'año_x.1', 'Unnamed: 0','año_y.1']
base = base.drop(columns=columns_to_drop)

In [7]:
## Verificación de valores nulos

print(base.isnull().sum())

EmployeeID                    0
EnvironmentSatisfaction       0
JobSatisfaction               0
WorkLifeBalance               0
Age                           0
BusinessTravel                0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
Gender                        0
JobLevel                      0
JobRole                       0
MaritalStatus                 0
MonthlyIncome                 0
NumCompaniesWorked            0
PercentSalaryHike             0
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear         0
YearsAtCompany                0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
JobInvolvement                0
PerformanceRating             0
Attrition                  3760
retirementType             3760
resignationReason          3760
dtype: int64

In [8]:
# Rellenar los datos faltantes en la variable objetivo 

"""No = No renuncio
Si = Renuncio """

base['Attrition'] = base['Attrition'].fillna('No')

In [9]:
### Contar los datos de la variable por obetivo 

base['retirementType'].value_counts()

Resignation    585
Fired           65
Name: retirementType, dtype: int64

In [10]:
#### Eliminación de categoria

"""La categoria fired; despedido, no aportaria nada al modelo, ya que el objetivo es la retención de empleados,
y no queremos retener alguien que se va despedir"""

base = base[base['retirementType'] != 'Fired']

"""Al hacer esto, solo quedaria la categoria "Resignation" y rellenando los nulos con "No Resignation" tendria
el mismo comportamiento que nuestra variable objetivo, aparte la otra categoria tendria mas del 85% de los 
datos, por ende se elimina"""

'Al hacer esto, solo quedaria la categoria "Resignation" y rellenando los nulos con "No Resignation" tendria\nel mismo comportamiento que nuestra variable objetivo, aparte la otra categoria tendria mas del 85% de los \ndatos, por ende se elimina'

In [11]:
### Eliminación de variable 

base.drop(["retirementType"], axis=1, inplace=True)

In [12]:
### Contar los datos de la variable por obetivo 

base['resignationReason'].value_counts()

Others    296
Salary    173
Stress    116
Name: resignationReason, dtype: int64

In [13]:
### Eliminación de variable 

"""La categoria "others" no nos dice nada; nos deja en la insertidumbre, igual "desconocido", solo tendriamos
salary y stress que realmente podrian aportar al modelo, pero tienen muy pocos datos"""

base.drop(["resignationReason"], axis=1, inplace=True)

In [14]:
### Verificación de cambios

base.head(3)
#base.info()

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,...,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,Attrition
0,1,3.0,4.0,2.0,51,Travel_Rarely,Sales,6,2,Life Sciences,...,11,0,1.0,6,1,0,0,3,3,No
1,2,3.0,2.0,4.0,31,Travel_Frequently,Research & Development,10,1,Life Sciences,...,23,1,6.0,3,5,1,4,2,4,Yes
2,3,2.0,2.0,1.0,32,Travel_Frequently,Research & Development,17,4,Other,...,15,3,5.0,2,5,0,3,3,3,No

In [15]:
#### Exportacion de bases 

base.to_csv(r'C:\Users\luisa\OneDrive\Desktop\Analitica lll RH\Bases\basefinal.csv', index=False)