In [1]:
import warnings ## funciones para imprimir y registrar advertencias.
warnings.filterwarnings("ignore") #suprimir cualquier advertencia que pueda ser generada por el código.

In [2]:
### Librerias

import pandas as pd ### para manejo de datos
import a_funciones as funciones  ###archivo de funciones propias
import sys ## saber ruta de la que carga paquetes

%matplotlib inline

In [3]:
## Ruta directorio que tiene paquetes

sys.path
sys.path.append('c:\\Users\\luisa\\OneDrive\\Desktop\\Analitica lll RH')

In [4]:
### Lectura de datos 

df1 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/employee_survey_data.csv", sep=",")
df2 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/general_data.csv", sep=",")
df3 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/manager_survey.csv", sep=",")
df4 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/retirement_info.csv", sep=",")

## **Preprocesamiento para la base1**

In [5]:
### Visualizacion de datos 

df1.head(3)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8820 non-null   int64
 1   EmployeeID               8820 non-null   int64
 2   EnvironmentSatisfaction  8770 non-null   float64
 3   JobSatisfaction          8780 non-null   float64
 4   WorkLifeBalance          8744 non-null   float64
 5   DateSurvey               8820 non-null   object
dtypes: float64(3), int64(2), object(1)
memory usage: 413.6+ KB

In [6]:
### Eliminacion de columna que no aportaria en el modelo

df1.drop(["Unnamed: 0"], axis=1, inplace=True)

In [7]:
## Verificación de valores nulos

print(df1.isnull().sum())

EmployeeID                  0
EnvironmentSatisfaction    50
JobSatisfaction            40
WorkLifeBalance            76
DateSurvey                  0
dtype: int64

In [8]:
### Media, moda, y mediana de las variables

print(df1['EnvironmentSatisfaction'].value_counts())
print(df1['EnvironmentSatisfaction'].mean())
print(df1['EnvironmentSatisfaction'].median())
print('-------------------------------')

print(df1['JobSatisfaction'].value_counts())
print(df1['JobSatisfaction'].mean())
print(df1['JobSatisfaction'].median())
print('-------------------------------')

print(df1['WorkLifeBalance'].value_counts())
print(df1['WorkLifeBalance'].mean())
print(df1['WorkLifeBalance'].median())
print('-------------------------------')

3.0    2700
4.0    2668
2.0    1712
1.0    1690
Name: EnvironmentSatisfaction, dtype: int64
2.7236031927023947
3.0
-------------------------------
4.0    2734
3.0    2646
1.0    1720
2.0    1680
Name: JobSatisfaction, dtype: int64
2.728246013667426
3.0
-------------------------------
3.0    5320
2.0    2038
4.0     908
1.0     478
Name: WorkLifeBalance, dtype: int64
2.7614364135407135
3.0
-------------------------------

In [9]:
### Tratamiento de faltantes

"""Los nulos de EnvironmentSatisfaction y JobSatisfaction se reemplazan por 3.0, porque;
 * Es su categoria mas alta
 * Su Media es aproximadamente 3
 * Su Mediana es 3 
 """

df1['EnvironmentSatisfaction'] = df1['EnvironmentSatisfaction'].fillna(3.0) 
df1['JobSatisfaction'] = df1['JobSatisfaction'].fillna(3.0)

"""Los nulos de WorkLifeBalance se reemplazan por 3.0 porque es su mediana, y es el valor mas aproximado
a la media"""

df1['WorkLifeBalance'] = df1['WorkLifeBalance'].fillna(3.0)

In [10]:
### Cambio al tipo correcto de dato

""" En este caso solo fue DateSurvey porque es una fecha, y estaba en formato "object" """ 

df1['DateSurvey'] = pd.to_datetime(df1['DateSurvey'], format='%Y-%m-%d')

## **Preprocesamiento para la base2**

In [11]:
### Visualizacion de datos 

df2.head(3)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8820 non-null   int64
 1   Age                      8820 non-null   int64
 2   BusinessTravel           8820 non-null   object
 3   Department               8820 non-null   object
 4   DistanceFromHome         8820 non-null   int64
 5   Education                8820 non-null   int64
 6   EducationField           8820 non-null   object
 7   EmployeeCount            8820 non-null   int64
 8   EmployeeID               8820 non-null   int64
 9   Gender                   8820 non-null   object
 10  JobLevel                 8820 non-null   int64
 11  JobRole                  8820 non-null   object
 12  MaritalStatus            8820 non-null   object
 13  MonthlyIncome            8820 non-null   int64
 14  NumCompaniesWorked       8782 non-null   float64
 15  Over18                   8820 non-null   object
 16  PercentSalaryHike        8820 non-null   int64
 17  StandardHours            8820 non-null   int64
 18  StockOptionLevel         8820 non-null   int64
 19  TotalWorkingYears        8802 non-null   float64
 20  TrainingTimesLastYear    8820 non-null   int64
 21  YearsAtCompany           8820 non-null   int64
 22  YearsSinceLastPromotion  8820 non-null   int64
 23  YearsWithCurrManager     8820 non-null   int64
 24  InfoDate                 8820 non-null   object
dtypes: float64(2), int64(15), object(8)
memory usage: 1.7+ MB

In [12]:
### Obtener la cantidad de valores únicos en cada columna 

"""Este codigo solo se aplico a esta base, debido a la gran cantidad de variables"""

nunique_values = df2.nunique()
single_value_columns = nunique_values[nunique_values == 1].index

print("Variables con un único valor: ", single_value_columns)

Variables con un único valor:  Index(['EmployeeCount', 'Over18', 'StandardHours'], dtype='object')

In [13]:
### Eliminacion de variables

"""Las variables que solo tienen una categoria no nos dicen nada, por ende se las elimina. 
Tambien se elimina una variable Unnamed: 0; que es una variable innecesaria que se agrego cuando 
se cargo el modelo"""

columns_to_drop = ['EmployeeCount', 'Over18', 'StandardHours', 'Unnamed: 0']
df2 = df2.drop(columns=columns_to_drop)

In [14]:
### Verificación de valores nulos

print(df2.isnull().sum())

Age                         0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         38
PercentSalaryHike           0
StockOptionLevel            0
TotalWorkingYears          18
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
InfoDate                    0
dtype: int64

In [15]:
### Media, moda, y mediana

print(df2['NumCompaniesWorked'].value_counts())
print(df2['NumCompaniesWorked'].mean())
print(df2['NumCompaniesWorked'].median())
print('-------------------------------')

print(df2['TotalWorkingYears'].value_counts())
print(df2['TotalWorkingYears'].mean())
print(df2['TotalWorkingYears'].median())
print('-------------------------------')

1.0    3116
0.0    1172
3.0     948
2.0     876
4.0     830
7.0     444
6.0     416
5.0     374
9.0     312
8.0     294
Name: NumCompaniesWorked, dtype: int64
2.6948303347756775
2.0
-------------------------------
10.0    1210
6.0      750
8.0      614
9.0      574
5.0      528
7.0      486
1.0      484
4.0      378
12.0     288
3.0      252
15.0     240
16.0     222
13.0     216
11.0     212
21.0     204
17.0     198
14.0     186
2.0      186
20.0     178
18.0     162
23.0     132
19.0     132
22.0     124
24.0     108
25.0      84
26.0      84
28.0      84
0.0       66
29.0      60
31.0      54
32.0      54
27.0      42
30.0      42
33.0      42
36.0      36
34.0      30
37.0      24
35.0      18
40.0      12
38.0       6
Name: TotalWorkingYears, dtype: int64
11.279936378095888
10.0
-------------------------------

In [16]:
### Tratamiento de nulos 

"""La variable NumCompaniesWorked se decidio reemplazar por 1, porque, es su categoria mas alta por mucho, y su
siguiente categoria mas alta es 0.
La variable TotalWorkingYears se decidio reemplazar por 10, porque, es su categoria mas alta y es su mediana"""

df2['NumCompaniesWorked'] = df2['NumCompaniesWorked'].fillna(1.0)
df2['TotalWorkingYears'] = df2['TotalWorkingYears'].fillna(10.0)

In [17]:
### Cambio al tipo correcto de dato 

""" En este caso solo fue InfoDate porque es una fecha, y estaba en formato "object" """ 
df2['InfoDate'] = pd.to_datetime(df2['InfoDate'], format='%Y-%m-%d')

## **Preprocesamiento para la base3**

In [18]:
### Visualizacion de datos
 
df3.head(3)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         8820 non-null   int64
 1   EmployeeID         8820 non-null   int64
 2   JobInvolvement     8820 non-null   int64
 3   PerformanceRating  8820 non-null   int64
 4   SurveyDate         8820 non-null   object
dtypes: int64(4), object(1)
memory usage: 344.7+ KB

In [19]:
###Eliminacion de variables 

df3.drop(["Unnamed: 0"], axis=1, inplace=True)

In [20]:
## Verificación de valores nulos

"""En este caso no fue necesario tratar nulos"""
print(df3.isnull().sum())

EmployeeID           0
JobInvolvement       0
PerformanceRating    0
SurveyDate           0
dtype: int64

In [21]:
### Cambio al tipo correcto de dato

""" En este caso solo fue SurveyDate porque es una fecha, y estaba en formato "object" """ 
df3['SurveyDate'] = pd.to_datetime(df3['SurveyDate'], format='%Y-%m-%d')

## **Preprocesamiento para la base4**

In [22]:
### Visualizacion de datos 

df4.head(3)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       711 non-null    int64
 1   Unnamed: 0         711 non-null    int64
 2   EmployeeID         711 non-null    int64
 3   Attrition          711 non-null    object
 4   retirementDate     711 non-null    object
 5   retirementType     711 non-null    object
 6   resignationReason  641 non-null    object
dtypes: int64(3), object(4)
memory usage: 39.0+ KB

In [23]:
### Eliminacion de variables

df4.drop(["Unnamed: 0.1"], axis=1, inplace=True)

In [24]:
## Verificación de valores nulos

print(df4.isnull().sum())

Unnamed: 0            0
EmployeeID            0
Attrition             0
retirementDate        0
retirementType        0
resignationReason    70
dtype: int64

In [25]:
### Contar el total de datos por categoria

print(df4['resignationReason'].value_counts())

Others    323
Salary    189
Stress    129
Name: resignationReason, dtype: int64

In [26]:
### Tratamiento de nulos 

"""Se crea la categoria desconocido porque no sabemos si sigue vigente en la empresa, o, si viceversa; el
motivo. Tambien al ser una cantidad significativa de nulos probablemte se elimine"""
df4['resignationReason'] = df4['resignationReason'].fillna("desconocido")

In [27]:
### Cambio al tipo correcto de dato

""" En este caso solo fue retirementDate porque es una fecha, y estaba en formato "object" """ 
df4['retirementDate'] = pd.to_datetime(df4['retirementDate'], format='%Y-%m-%d')

## **Union de bases**

In [28]:
#### Union de bases

"""Separar las bases en dos años; 2015 y 2016
1. Se selecciona todas las filas, ya sea 2015 o 2016 
2. Se crea la variable año, y se extrae solo el año
3. Se borra la variable"""

### Base 1

# Crear tabla empleados 2015
employe = df1[df1['DateSurvey'].dt.year == 2015]
employe['año'] = employe['DateSurvey'].dt.strftime('%Y')
employe.drop(["DateSurvey"], axis=1, inplace=True)

# Crear tabla empleados 2016
employe1 = df1[df1['DateSurvey'].dt.year == 2016]
employe1['año'] = employe1['DateSurvey'].dt.strftime('%Y')
employe1.drop(["DateSurvey"], axis=1, inplace=True)

### Base 2

#2015
general = df2[df2['InfoDate'].dt.year == 2015]
general['año'] = general['InfoDate'].dt.strftime('%Y')
general.drop(["InfoDate"], axis=1, inplace=True)

#2016
general1 = df2[df2['InfoDate'].dt.year == 2016]
general1['año'] = general1['InfoDate'].dt.strftime('%Y')
general1.drop(["InfoDate"], axis=1, inplace=True)

### Base3 

#2015
manager = df3[df3['SurveyDate'].dt.year == 2015]
manager['año'] = manager['SurveyDate'].dt.strftime('%Y')
manager.drop(["SurveyDate"], axis=1, inplace=True)

#2016
manager1 = df3[df3['SurveyDate'].dt.year == 2016]
manager1['año'] = manager1['SurveyDate'].dt.strftime('%Y')
manager1.drop(["SurveyDate"], axis=1, inplace=True)

### Base4 

#2015
retirement = df4[df4['retirementDate'].dt.year == 2015]
retirement['año'] = retirement['retirementDate'].dt.strftime('%Y')
retirement.drop(["retirementDate"], axis=1, inplace=True)

#2016
retirement1 = df4[df4['retirementDate'].dt.year == 2016]
retirement1['año'] = retirement1['retirementDate'].dt.strftime('%Y')
retirement1.drop(["retirementDate"], axis=1, inplace=True)

In [29]:
### Union de bases

"""Se unen usando la columna 'EmployeeID' como clave"""

df2015 = employe.merge(general, on='EmployeeID', how='inner')\
                        .merge(manager, on='EmployeeID', how='inner')\
                        .merge(retirement1, on='EmployeeID', how='left')
                        

df2016 = employe.merge(general1, on='EmployeeID', how='inner')\
                        .merge(manager1, on='EmployeeID', how='inner')

In [30]:
### Exportacion de bases 
df2015.to_csv(r'C:\Users\luisa\OneDrive\Desktop\Analitica lll RH\Bases\base2015.csv', index=False)
df2016.to_csv(r'C:\Users\luisa\OneDrive\Desktop\Analitica lll RH\Bases\base2016.csv', index=False)