In [112]:
import warnings ## funciones para imprimir y registrar advertencias.
warnings.filterwarnings("ignore") #suprimir cualquier advertencia que pueda ser generada por el código.

In [113]:
###Librerias
import pandas as pd ### para manejo de datos
import sqlite3 as sql #### para bases de datos sql
import a_funciones as funciones  ###archivo de funciones propias
import sys ## saber ruta de la que carga paquetes

%matplotlib inline

In [114]:
##Ruta directorio que tiene paquetes
sys.path
sys.path.append('c:\\Users\\luisa\\OneDrive\\Desktop\\Analitica lll RH')

**Preprocesamiento de datos**

In [115]:
###Lectura de datos 
df1 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/employee_survey_data.csv", sep=",")
df2 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/general_data.csv", sep=",")
df3 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/manager_survey.csv", sep=",")
df4 = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/retirement_info.csv", sep=",")

## **Preprocesamiento para la base1**

In [116]:
df1.head(3)

,Unnamed: 0,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,DateSurvey
0,0,1,3.0,4.0,2.0,2015-12-31
1,1,2,3.0,2.0,4.0,2015-12-31
2,2,3,2.0,2.0,1.0,2015-12-31

In [117]:
###Eliminacion de columna que no aportaria en el modelo
df1.drop(["Unnamed: 0"], axis=1, inplace=True)

In [118]:
## Verificación de valores nulos
print(df1.isnull().sum())

EmployeeID                  0
EnvironmentSatisfaction    50
JobSatisfaction            40
WorkLifeBalance            76
DateSurvey                  0
dtype: int64

In [119]:
##tratamiento de nulos
print(df1['EnvironmentSatisfaction'].value_counts())
print(df1['EnvironmentSatisfaction'].mean())
print(df1['EnvironmentSatisfaction'].median())
print('-------------------------------')

print(df1['JobSatisfaction'].value_counts())
print(df1['JobSatisfaction'].mean())
print(df1['JobSatisfaction'].median())
print('-------------------------------')

print(df1['WorkLifeBalance'].value_counts())
print(df1['WorkLifeBalance'].mean())
print(df1['WorkLifeBalance'].median())
print('-------------------------------')

3.0    2700
4.0    2668
2.0    1712
1.0    1690
Name: EnvironmentSatisfaction, dtype: int64
2.7236031927023947
3.0
-------------------------------
4.0    2734
3.0    2646
1.0    1720
2.0    1680
Name: JobSatisfaction, dtype: int64
2.728246013667426
3.0
-------------------------------
3.0    5320
2.0    2038
4.0     908
1.0     478
Name: WorkLifeBalance, dtype: int64
2.7614364135407135
3.0
-------------------------------

In [120]:
##al ser el valor que mas aparece, la media sea 3 y la moda de un valor muy cercano a 3; los nulos de esta variable seran reemplazado por 3
df1['EnvironmentSatisfaction'] = df1['EnvironmentSatisfaction'].fillna(3.0)
df1['JobSatisfaction'] = df1['JobSatisfaction'].fillna(3.0)
df1['WorkLifeBalance'] = df1['WorkLifeBalance'].fillna(3.0)

In [121]:
###cambio al tipo correcto de dato 
df1['DateSurvey'] = pd.to_datetime(df1['DateSurvey'], format='%Y-%m-%d')

## **Preprocesamiento para la base2**

In [122]:
df2.head(3)

,Unnamed: 0,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,InfoDate
0,0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,Y,11,8,0,1.0,6,1,0,0,2015-12-31
1,1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,Y,23,8,1,6.0,3,5,1,4,2015-12-31
2,2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,Y,15,8,3,5.0,2,5,0,3,2015-12-31

In [123]:
# Obtener la cantidad de valores únicos en cada columna; solo se aplico a esta base debido a la cantidad de variables
nunique_values = df2.nunique()

# Seleccionar las columnas con un solo valor
single_value_columns = nunique_values[nunique_values == 1].index

print("Variables con un único valor: ", single_value_columns)

Variables con un único valor:  Index(['EmployeeCount', 'Over18', 'StandardHours'], dtype='object')

In [124]:
###Eliminacion de variables que no aportaria en el modelo
columns_to_drop = ['EmployeeCount', 'Over18', 'StandardHours', 'Unnamed: 0']
df2 = df2.drop(columns=columns_to_drop)

In [125]:
## Verificación de valores nulos
print(df2.isnull().sum())

Age                         0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         38
PercentSalaryHike           0
StockOptionLevel            0
TotalWorkingYears          18
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
InfoDate                    0
dtype: int64

In [126]:
print(df2['NumCompaniesWorked'].value_counts())
print(df2['NumCompaniesWorked'].mean())
print(df2['NumCompaniesWorked'].median())
print('-------------------------------')

print(df2['TotalWorkingYears'].value_counts())
print(df2['TotalWorkingYears'].mean())
print(df2['TotalWorkingYears'].median())
print('-------------------------------')

1.0    3116
0.0    1172
3.0     948
2.0     876
4.0     830
7.0     444
6.0     416
5.0     374
9.0     312
8.0     294
Name: NumCompaniesWorked, dtype: int64
2.6948303347756775
2.0
-------------------------------
10.0    1210
6.0      750
8.0      614
9.0      574
5.0      528
7.0      486
1.0      484
4.0      378
12.0     288
3.0      252
15.0     240
16.0     222
13.0     216
11.0     212
21.0     204
17.0     198
14.0     186
2.0      186
20.0     178
18.0     162
23.0     132
19.0     132
22.0     124
24.0     108
25.0      84
26.0      84
28.0      84
0.0       66
29.0      60
31.0      54
32.0      54
27.0      42
30.0      42
33.0      42
36.0      36
34.0      30
37.0      24
35.0      18
40.0      12
38.0       6
Name: TotalWorkingYears, dtype: int64
11.279936378095888
10.0
-------------------------------

In [127]:
df2['NumCompaniesWorked'] = df2['NumCompaniesWorked'].fillna(1.0)
df2['TotalWorkingYears'] = df2['TotalWorkingYears'].fillna(10.0)

In [128]:
###cambio al tipo correcto de dato 
df2['InfoDate'] = pd.to_datetime(df2['InfoDate'], format='%Y-%m-%d')

## **Preprocesamiento para la base3**

In [129]:
df3.head(3)

   Unnamed: 0  EmployeeID  JobInvolvement  PerformanceRating  SurveyDate
0           0           1               3                  3  2015-12-31
1           1           2               2                  4  2015-12-31
2           2           3               3                  3  2015-12-31

In [130]:
###Eliminacion de columna que no aportaria en el modelo
df3.drop(["Unnamed: 0"], axis=1, inplace=True)

In [131]:
## Verificación de valores nulos
print(df3.isnull().sum())

EmployeeID           0
JobInvolvement       0
PerformanceRating    0
SurveyDate           0
dtype: int64

In [132]:
###cambio al tipo correcto de dato 
df3['SurveyDate'] = pd.to_datetime(df3['SurveyDate'], format='%Y-%m-%d')

## **Preprocesamiento para la base4**

In [133]:
df4.head(3)

,Unnamed: 0.1,Unnamed: 0,EmployeeID,Attrition,retirementDate,retirementType,resignationReason
0,0,0,2,Yes,2016-10-15,Resignation,Others
1,1,1,7,Yes,2016-07-20,Resignation,Stress
2,2,2,14,Yes,2016-11-08,Resignation,Others

In [134]:
###Eliminacion de columna que no aportaria en el modelo
df4.drop(["Unnamed: 0.1"], axis=1, inplace=True)

In [135]:
## Verificación de valores nulos
print(df4.isnull().sum())

Unnamed: 0            0
EmployeeID            0
Attrition             0
retirementDate        0
retirementType        0
resignationReason    70
dtype: int64

In [136]:
print(df4['resignationReason'].value_counts())

Others    323
Salary    189
Stress    129
Name: resignationReason, dtype: int64

In [137]:
df4['resignationReason'] = df4['resignationReason'].fillna("desconocido")

In [138]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         711 non-null    int64
 1   EmployeeID         711 non-null    int64
 2   Attrition          711 non-null    object
 3   retirementDate     711 non-null    object
 4   retirementType     711 non-null    object
 5   resignationReason  711 non-null    object
dtypes: int64(2), object(4)
memory usage: 33.5+ KB

In [139]:
###cambio al tipo correcto de dato
df4['retirementDate'] = pd.to_datetime(df4['retirementDate'], format='%Y-%m-%d')

## **Crear base**

In [140]:
#### crear base de datos para manejo de datos ####

conn= sql.connect("Bases\\db_empleados") ### crea una base de datos con el nombre dentro de comillas, si existe crea una conexión.
cur=conn.cursor() ### ejecutar funciones  en BD

In [141]:
### Llevar tablas a base de datos
df1.to_sql("encuesta",conn,if_exists="replace")
df2.to_sql("general",conn,if_exists="replace")
df3.to_sql("encuesta2",conn,if_exists="replace")
df4.to_sql("retiros",conn,if_exists="replace")

711

In [142]:
cur.execute("Select name from sqlite_master where type='table'") ### consultar bases de datos
cur.fetchall()

[('df1',),
 ('df2',),
 ('df3',),
 ('df4',),
 ('encuesta',),
 ('general',),
 ('encuesta2',),
 ('retiros',)]