In [1]:
import a_funciones as funciones  ###archivo de funciones propias
import pandas as pd ### para manejo de datos
import joblib ### para guardar y cargar modelos
import openpyxl ## para exportar a excel
import numpy as np #procesamiento eficiente de grandes conjuntos de datos y la realización de operaciones matemáticas

In [3]:
###cargar base desde github
df = pd.read_csv("https://raw.githubusercontent.com/andressj1/A-RH/main/Bases/base2016.csv", sep=",")

## **Aplicación de funciones**

In [6]:
#####Eliminacion de variables spam 
funciones.eliminar_columnas(df)

,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,...,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,JobInvolvement,PerformanceRating
0,3,4,2,51,Travel_Rarely,Sales,6,2,Life Sciences,Female,...,Healthcare Representative,Married,131160,1,11,0,6,1,3,3
1,3,2,4,31,Travel_Frequently,Research & Development,10,1,Life Sciences,Female,...,Research Scientist,Single,41890,0,23,1,3,5,2,4
2,2,2,1,32,Travel_Frequently,Research & Development,17,4,Other,Male,...,Sales Executive,Married,193280,1,15,3,2,5,3,3
3,4,4,3,38,Non-Travel,Research & Development,2,5,Life Sciences,Male,...,Human Resources,Married,83210,3,11,3,5,8,2,3
4,4,1,3,32,Travel_Rarely,Research & Development,10,1,Medical,Male,...,Sales Executive,Single,23420,4,12,2,2,6,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4,1,3,42,Travel_Rarely,Research & Development,5,4,Medical,Female,...,Research Scientist,Single,60290,3,17,1,5,3,3,3
4406,4,4,3,29,Travel_Rarely,Research & Development,2,4,Medical,Male,...,Laboratory Technician,Divorced,26790,2,15,0,2,3,2,3
4407,1,3,3,25,Travel_Rarely,Research & Development,25,2,Life Sciences,Male,...,Sales Executive,Married,37020,0,20,0,4,4,3,4
4408,4,1,3,42,Travel_Rarely,Sales,18,2,Medical,Male,...,Laboratory Technician,Divorced,23980,0,14,1,2,9,2,3
4409,1,3,3,40,Travel_Rarely,Research & Development,28,3,Medical,Male,...,Laboratory Technician,Divorced,54680,0,12,0,6,21,4,3

In [7]:
#####Floats a int
funciones.convertir_columnas_float_a_entero(df)

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,año_x,Age,BusinessTravel,Department,DistanceFromHome,Education,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,año_y,JobInvolvement,PerformanceRating,año
0,1,3,4,2,2015,51,Travel_Rarely,Sales,6,2,...,0,1.0,6,1,0,0,2016,3,3,2016
1,2,3,2,4,2015,31,Travel_Frequently,Research & Development,10,1,...,1,6.0,3,5,1,4,2016,2,4,2016
2,3,2,2,1,2015,32,Travel_Frequently,Research & Development,17,4,...,3,5.0,2,5,0,3,2016,3,3,2016
3,4,4,4,3,2015,38,Non-Travel,Research & Development,2,5,...,3,13.0,5,8,7,5,2016,2,3,2016
4,5,4,1,3,2015,32,Travel_Rarely,Research & Development,10,1,...,2,9.0,2,6,0,4,2016,3,3,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,4,1,3,2015,42,Travel_Rarely,Research & Development,5,4,...,1,10.0,5,3,0,2,2016,3,3,2016
4406,4407,4,4,3,2015,29,Travel_Rarely,Research & Development,2,4,...,0,10.0,2,3,0,2,2016,2,3,2016
4407,4408,1,3,3,2015,25,Travel_Rarely,Research & Development,25,2,...,0,5.0,4,4,1,2,2016,3,4,2016
4408,4409,4,1,3,2015,42,Travel_Rarely,Sales,18,2,...,1,10.0,2,9,7,8,2016,2,3,2016
4409,4410,1,3,3,2015,40,Travel_Rarely,Research & Development,28,3,...,0,10.0,6,21,3,9,2016,4,3,2016